<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:action-android="http://schemas.android.com/apk/res-auto"
    package="codeit.ezpay">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".FirebaseApp"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="Team_12"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppThemeNoActionBar">
        <activity android:name=".WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity"
            android:theme="@style/AppTheme"/>
        <activity android:name=".SignUp" />
        <activity android:name=".SignIn" />
        <activity android:name=".UserProfile"
            android:theme="@style/AppTheme"></activity>
    </application>

</manifest>